@page "/dd-process"

@inject NavigationManager Navigation

<div class="content-page">
<h3>DDS Process</h3>
<StepBar />
</div>
<RadzenNotification/>
<style>
    h3 {
        font-size: 1.5rem;
        margin-bottom: -82px;
    }
    .content-page{
        margin-top:35px;
    }

</style>